@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  background-color: #e5f2ff;
  /* background-color: #F5F0E8; */
  /* background-color: #2D4A35; */
}

div iframe{
  margin: 50px auto;
  display: block;
}

.fixed {
  position: fixed;
  right: 100px;
  bottom: 100px;
}

.fixed:hover {
  opacity: 0.8;
}

.fixed2 {
  position: fixed;
  right: 100px;
  bottom: 40px;
}

.fixed2:hover {
  opacity: 0.8;
}